body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
