body {
  text-align: center;
  margin: 0px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 50px;
}
.mainHeadDiv {
  padding: 200px;
  background-color: #f3efe0;
}
.mainHeading {
}
