body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  color: black;
  background-color: #e8f3d6;
}

a {
  color: blue;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

a:hover {
  opacity: 0.8;
}

body .icon {
  font-size: 3rem;
}
